<!DOCTYPE html5>
<div class="navbar">
    <a href="/login">Login</a>
    <a href="/newuser">New User</a>
  </div>
<div class="main">
    <div class="header">Welcome to Bank of Revature</div>
    <div class = "error-div" *ngIf="error">
        Please fill in all fields
    </div>

    <form>
        <div class="grid"> <div class="element">ID<br/>  <input type="text" required #id name="id"/></div>
        <div class="element">First name<br/>  <input type="text" required #fname name="fname" ng-required="myVar"/></div>
        <div class="element">Last name <br/> <input type="text" required #lname name="lname"/></div> 
        <div class="grid">    
            <div class="element">Address<br/>  <input type="text" required="required" #address name="address"/></div>
            <div class="element">City <br/> <input type="text" #city name="city" required="required" /></div>
            <div class="element">State <br/> <input type="text" required #state name="state"/></div>
        </div>
        <div class="grid">  
            <div class="element">Contact Number<br/>  <input type="text" required #cnumber name="cnumber"/></div>
            <div class="element">Email Address<br/> <input type="email" required #email name="email" /></div></div>
            <div class="element">Password<br/> <input type="password" required #pass name="pass"/></div>
            <div class="element">Confirm Password<br/> <input type="password" required #pass2 name="pass2"/></div>
            <div class="element">Date of Birth<br/> <input type="date" required #dob name="dob"/></div>
            <div><input class="signin-button" ng-model="myVar"
                (click)="AddUser(id.value, fname.value,lname.value,address.value,city.value,state.value,cnumber.value,email.value,pass.value,pass2.value, dob.value)" type="button" value="Submit"/>
            </div>
        </div>
    </form>
<div  class="more-info">Already User?? <a href="/login">Login</a></div>
</div>