
<div class="main">
    <div class="header">Welcome to Bank of Revature</div>

<div class="grid"> <div class="element">ID<br/>  <input type="text" required #id name="id"/></div>
            <div class="element">First name<br/>  <input type="text" required #fname name="fname"/></div>
            <div class="element">Last name <br/> <input type="text" required #lname name="lname"/></div> 
<div class="grid">    <div class="element">Address<br/>  <input type="text" required #address name="address"/></div>
            <div class="element">City <br/> <input type="text" required #city name="city"/></div>
            <div class="element">State <br/> <input type="text" required #state name="state"/></div></div>
<div class="grid">  <div class="element">Contact Number<br/>  <input type="text" required #cnumber name="cnumber"/></div>
            <div class="element">Email Address<br/> <input type="email" required #email name="email"/></div></div>
            <div class="element">Password<br/> <input type="password" required #pass name="pass"/></div>
            <div class="element">Confirm Password<br/> <input type="password" required #pass2 name="pass2"/></div>
            <div class="element">Date of Birth<br/> <input type="text" required #dob name="dob"/></div>
            <div class="element">Role<br/> <input type="text" required #role name="role"/></div>
            <div><input class="signin-button" (click)="AddUser(id.value, fname.value,lname.value,address.value,city.value,state.value,cnumber.value,email.value,pass.value,pass2.value, dob.value, role.value)" type="button" value="Submit"/></div>

</div>
<div  class="more-info">Already User?? <a href="/login">Login</a></div>
</div>