<!DOCTYPE html5>

<div class="main">
    <div class="header">Welcome to Bank of Revature</div>
    <div class = "error-div">
        {{error}}
    </div>

    <form>
        <div class="grid">  
            <div class="element">Password<br/> <input type="password" required #pass name="pass"/></div>
            <div class="element">Confirm Password<br/> <input type="password" required #pass2 name="pass2"/></div>
            <div><input class="signin-button" ng-model="myVar"
                (click)="AddUser(pass.value,pass2.value)" type="button" value="Submit"/>
            </div>
        </div>
    </form>
<div  class="more-info">Already User?? <a href="/login">Login</a></div>
</div>